$main-color: #201a18;
.main-nav{
	background: #ffffff !important;
	.bars{display: none;}
	.navbar-brand{
		img{
			width: 125px;
			margin-top: -10px;
		}
	}
	.navbar-right{
		li{
			display: inline-block;
		}
	}
	.search-box{
		input{
			width:600px;
			margin-left: 60px;
			border-color:$main-color;
			&:focus{
				box-shadow: none;
			}
		}
		.autocomplete{
			width: 550px;
			border-radius: none;
		}
		.search-btn{
			color: #fff;
			background: $main-color;
			border-color: $main-color;
			padding-left: 20px;
			padding-right: 20px; 
			cursor: pointer;
			i{
				font-size: 18px;
				padding-right: 5px;
			}
			&:focus{
				box-shadow: none;
			}
			&:hover{
				color: #ddd;
				background: $main-color;
			}
		}
	}
}


/* The side navigation menu */
.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed;
    z-index: 100;
    top: 0; 
    right: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 60px;
    transition: 0.5s;
	.card{
		background: none;
		.card-header{
			background: none;
			padding-bottom: 0px;
			text-align:right;
			button{
				color: #fff;
			}
		}
		.main-card-header{
			button{
				font-size: 20px;
			}
		}
		.card-body{
		    padding-top: 0px;
    		padding-left: 0px;
    		padding-bottom: 0px;
			ul{
				list-style: none;
				padding-left: 0px;
				margin-bottom: 0px;
				text-align: right;
				padding-right: 0px;
				li{
					a{
						text-decoration:none;
						color: #32cf32;
						font-size: 16px;
					}
				}
			}
			.inner-card-header{
				padding-right: 0px;
				padding-left: 0px;
				button{
					color: #ddd;
				}
			}
		}
	}
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-width: 1024px){
	.main-nav{
		.search-box{
			input{
				margin-left: 0px;
				width: 70vh;
			}
		}
	}
}
@media screen and (max-width: 768px){
	.main-nav{
		.bars{
			display: block;
			font-size: 30px;
    		margin-top: -8px;
		    margin-right: 4px;
		}
		.search-box{
			form{
				height: 40px;
				margin-top: 0px !important;
				margin-bottom: 0px !important;
				input{
					width: 76vw;
				}
				button{
					position: absolute;
					right: 3%;
				}
			}
			.autocomplete{
				width: 63vw;
			}
		}
		.navbar-right{
			display: none;
		}
		.navbar-brand{
			padding-top: 0px;
			img{
				width: 100px;
			}
		}
	}
}
@media screen and (max-width: 767px){
	.search-btn{
		span{
			display: none;
		}
	}
}
@media screen and (max-width: 480px){
	.main-nav{
		padding-left: 2%;
		padding-right: 2%;
	}
}