<nav class="navbar navbar-expand-lg navbar-light bg-light main-nav">
  <a class="navbar-brand" href="#"><img src="{{title}}" alt="Mensome"></a>

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
      <div id="accordion" *ngFor="let cat of categoryList">
        <div class="card">
          <div class="card-header main-card-header" id="{{cat.categoryaccId}}">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" attr.data-target="#collapse{{cat.categoryaccId}}" aria-expanded="false" attr.aria-controls="collapse{{cat.categoryaccId}}">
                {{cat.categoryName}} <i class="fa fa-angle-down"></i>
              </button>
            </h5>
          </div>
          <div id="collapse{{cat.categoryaccId}}" class="collapse" attr.aria-labelledby="{{cat.categoryaccId}}" data-parent="#accordion">
            <div class="card-body" *ngFor="let subcat of cat.subcatName">
              <div class="card" id="{{subcat.subcategoryaccId}}">
                <div class="card-header inner-card-header" id="inner{{subcat.subcategoryaccId}}">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" attr.data-target="#innercollapse{{subcat.subcategoryaccId}}" aria-expanded="false" attr.aria-controls="innercollapse{{subcat.subcategoryaccId}}">
                      {{subcat.subcategory}} <i class="fa fa-angle-down"></i>
                    </button>
                  </h5>
                </div>
                <div id="innercollapse{{subcat.subcategoryaccId}}" class="collapse" attr.aria-labelledby="inner{{subcat.subcategoryaccId}}" attr.data-parent="#{{subcat.subcategoryaccId}}">
                  <div class="card-body">
                    <ul *ngFor="let subsubcat of subcat.subsubCatName">
                        <li><a href="#">{{subsubcat.subsubcategory}}</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <span (click)="openNav()" class="bars"><i class="fa fa-bars" aria-hidden="true"></i></span>

  <div class="navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item search-box">
        <form class="form-inline my-2 my-lg-0">
            <ng-template #rt let-r="result" let-t="term">
              <div [ngClass]="{'autocomplete':true}">{{ r.searchitem}}</div>
            </ng-template>
          <input 
            type="search" 
            class="form-control mr-sm-2" 
            #instance="ngbTypeahead"
            placeholder="Search" 
            aria-label="Search" 
            [(ngModel)]="model"
            name="search" 
            [ngbTypeahead]="search" 
            [resultTemplate]="rt"
            [inputFormatter]="formatter"
            (focus)="focus$.next($event.target.value)"
            (click)="click$.next($event.target.value)"
            (keyup.enter)="searchUrl(model.url)"
            >
          <button class="btn btn-outline-success search-btn" type="submit" (click)="searchUrl(model.url)"><i class="fa fa-search" aria-hidden="true"></i> <span>Search</span></button>
        </form>
      </li>
    </ul>
    <ul class="navbar-text navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" routerLink="/shop/mensome-products">{{store}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/mobile-covers">{{mobile_covers}}</a>
      </li>
    </ul>
  </div>
</nav>