<footer>
	<div class="container">
		<div class="row">
			<div class="footer-links text-center">
				<div class="row">
					<div class="col-md-2">
						<h4>Mensome</h4>
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">About us</a></li>
							<li><a href="#">Contact us</a></li>
							<li><a href="#">Terms and Conditions</a></li>
						</ul>
					</div>
					<div class="col-md-2">
						<h4>careers</h4>
						<ul>
							<li><a href="#">UI designer</a></li>
							<li><a href="#">Sales Intern</a></li>
							<li><a href="#">Operation Manager</a></li>
							<li><a href="#">Backend Developer</a></li>
						</ul>
					</div>
					<div class="col-md-2">
						<h4>partners</h4>
						<ul>
							<li><a href="#">Entrepreneurship india</a></li>
							<li><a href="#">Clubscube</a></li>
							<li><a href="#">Spikeship</a></li>
							<li><a href="#">Fashion way</a></li>
						</ul>
					</div>
					<div class="col-md-2">
						<h4>office</h4>
						<ul>
							<li><a href="#">#769</a></li>
							<li><a href="#">1st stage, 1st cross,</a></li>
							<li><a href="#">Indiranagar</a></li>
							<li><a href="#">Bangalore - 560038</a></li>
						</ul>
					</div>
					<div class="col-md-2">
						<h4>contact</h4>
						<ul>
							<li><a href="#">contact@mensome.in</a></li>
							<li><a href="#">(+91) 987654321</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-social text-center">
				<div class="footer-social-icons">
					<a href="#"><i class="fa fa-facebook"></i></a>
				</div>
				<div class="footer-social-icons">
					<a href="#"><i class="fa fa-twitter"></i></a>
				</div>
				<div class="footer-social-icons">
					<a href="#"><i class="fa fa-instagram"></i></a>
				</div>
				<div class="footer-social-icons">
					<a href="#"><i class="fa fa-linkedin"></i></a>
				</div>
			</div>
			<div class="footer-desc text-center">
				<p>Mensome is a fashion website based on the redirect model. It was founded by Himanshu Jain and co-founded by Akshay Khobragade</p>
			</div>
			<div class="footer-logo text-center">
				<img src="/assets/images/logo/mensome-footer-logo-white.png" alt="Footer Logo">
			</div>
			<div class="copyright text-center">copyright <i class="fa fa-copyright"></i> mensome - 2018</div>
		</div>
	</div>
</footer>