footer{
	background: #1a1a1a;
	padding-bottom: 20px;
	padding-top: 30px;
	color:#fff;
	.footer-logo{
		margin-bottom: 15px;
		img{
			width: 100px;
		}
	}
	.copyright{
		color:#ddd;
	}
	.footer-desc{
		p{
			font-size: 10px;
		}
	}
	.footer-social{
		.footer-social-icons{
			display: inline-block;
			padding: 15px 20px;
			a{
				text-decoration: none;
				color: #fff;
				font-size: 30px;
			}
		}
	}
	.footer-links{
		margin-top: 20px;
		margin-bottom: 20px;
		.row{
			justify-content: center;
			.col-md-2{
				text-align: left;
				h4{
					color: #fff;
					text-transform: uppercase;
					font-size: 15px;
				}
				ul{
					list-style: none;
					padding-left: 0px;
					li{
						a{
							text-decoration: none;
							color: #ddd;
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}
.text-center{
	text-align: center;
	width: 100%;
}
@media screen and (max-width: 767px){
	footer{
		.row{
			margin-left:0px;
			margin-right: 0px;
		}
	}
}