@import url('https://fonts.googleapis.com/css?family=Lobster');
$lobster: 'Lobster', cursive;
.bottom-banner{
	background: url("/assets/images/bottom-banner/woman-2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 700px;
	margin-top: 50px;
	margin-bottom:50px;
	.col-md-6{
		padding: 20px;
		color: #ddd;
		text-align: center;
		h1{
			font-family: $lobster;
			font-size: 70px;
		}
		
	}
}