<div class="container-fluid main-cat-res">
	<div class="row">
		<div class="categories">
			<ul>
				<li *ngFor="let cat of categoryList">
					<a href="#" class="main-categories">{{cat.categoryName}} <i class="fa fa-angle-down"></i></a>
					<ul>
						<li *ngFor="let subcat of cat.subcatName">
							 <h5>{{subcat.subcategory}}</h5>
							 <div *ngFor="let subsubcat of subcat.subsubCatName" class="subsub-categories">
							 	<a href="#">
							 		<i class="fa fa-{{subsubcat.subsubicon}}" aria-hidden="true">	</i> {{subsubcat.subsubcategory}}
							 	</a>
							 </div>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>