@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
$bree: 'Bree Serif', serif;
.categories{
	width: 100%;
	background: #f8f9fa;
	text-align: center;
	ul{
		list-style: none;
		margin-bottom: 0px;
		li{
			display: inline-block;
			padding: 10px;
			transition: all 1s ease;
			a{
				color:#393939;
				text-decoration: none;
				transition: all 0.4s ease;
				&:hover{
					color:#28a745;
				};
			}
			ul{
			    display: none;
			    position: absolute;
			    padding-left: 0px;
			    text-align: left;
			    padding: 10px 50px 10px 20px;
			    margin-top: 10px;
			    background: #f8f9fa;
			    box-shadow: 0px 1px 1px #ddd;
			    z-index: 1;
		        width: 75%;
    			left: 15%;
    			text-align: left;
    			z-index: 10;
			    li{
			    	display: inline-block;
			    	padding-right: 30px;
			    	vertical-align: top;
			    	h5{
			    		font-family: $bree;
			    		font-size: 16px;
			    		color: #333;
			    		border-bottom: 1px solid #ddd;
			    		margin-bottom: 15px;
			    	}
			    	.subsub-categories{
			    		padding-bottom: 10px;
			    		padding-left: 5px;
			    	}
			    }
			}
			&:hover ul{
				display: block;
			};
			i{
				padding-left: 3px;
				transition: all 0.8s ease;
			}
			&:hover > .main-categories i{
				transform: rotate(180deg);
			}
		}
	}
}

@media screen and (max-width: 767px){
	.main-cat-res{
		display: none;
	}
}

@media screen and (max-width: 767px){
	.categories{
		white-space:nowrap;
		overflow-x:scroll;
		ul{
			padding-left: 0px;
			li{
				ul{
					text-align: left;
					li{
						display: block;
					}
				}
			}
		}
	}
}




