@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Nunito:300i,400,600,600i,700');
$lobster: 'Lobster', cursive;
$nunito: 'Nunito', sans-serif;
$mgb-1-height: 450px;

@mixin border-radius($radius) {
	-webkit-border-radius:$radius;
	   -moz-border-radius:$radius;
	    -ms-border-radius:$radius;
	     -o-border-radius:$radius;
	        border-radius:$radius;
}

@mixin box-shadow($x, $y, $blur, $color, $inset:false){
	@if $inset {
		-webkit-box-shadow:inset $x $y $blur $color;
		   -moz-box-shadow:inset $x $y $blur $color;
		    -ms-box-shadow:inset $x $y $blur $color;
		     -o-box-shadow:inset $x $y $blur $color;
	}
	@else {
		-webkit-box-shadow: $x $y $blur $color;
		   -moz-box-shadow: $x $y $blur $color;
		    -ms-box-shadow: $x $y $blur $color;
		     -o-box-shadow: $x $y $blur $color;
	}
}
.main-grid{
	margin-bottom: 30px;
	.grid-title{
		text-align: center;
		span{
			font-family: $lobster;
		    font-size: 35px;
		    padding-left: 15px;
		    padding-right: 15px;
		    background: #fff;
		    z-index: 2;
		    position: relative;
		}
	}
	hr{
	    border: 1px solid;
	    position: relative;
	    margin-top: -25px;
	}
	.col-md-4{
		padding:10px;
		margin-top: 10px;
		.main-grid-block{
			background:#ededed;
			height: $mgb-1-height;
			img{
				width: 100%;
				height: $mgb-1-height;
			}
			figcaption{
				display: flex;
				justify-content: center;
				margin-top: -50px;
				a{
					text-decoration: none;
					color: #333;
					background: #ddd;
					padding: 5px 20px;
					border-radius: 3px;
					box-shadow: 0px 0px 1px rgba(0,0,0,0.7);
					text-transform: uppercase;
					transition: all 0.4s ease;
					&:hover{
						padding: 5px 30px;
					}
				}
			}
		}
	}
}
.bg-banners{
	.col-md-6{
		.bg-banners-inner{
			height: 800px;
			margin-bottom: 20px;
			text-align: center;
			padding-top: 40px;
			font-family: $nunito;
			color: #fff;
			h4{
				margin-top: 30px;
				a{
					text-decoration: none;
					color: #fff;
					border: 1px solid #fff;
					@include border-radius(3px);
			    	padding: 5px 30px;
			    	transition: all 0.4s ease;
			    	&:hover{
			    		padding: 5px 40px;
			    	}
				}
			}
		}
		.bg-bn-1{
			background: url('/assets/images/main-grid/grad-1.jpg');
			img{
				width: 300px;
				margin-top: 10px;
			}
		}
		.bg-bn-2{
			background:linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url('/assets/images/main-grid/bag-2.jpg');
			background-size: cover;
		}
	}
}
.mob-cover-box{
	margin-bottom: 30px;
	.col-md-3{
		margin: 0px;
		padding: 0px;
		padding-left: 15px;
		img{
			width: 100%;
		    height: 550px;
		}
		.mobile-prom-img{
			display:none;
		}
	}
	.col-md-9{
		.col-md-4{
			margin-bottom: 15px;
			.mob-cover-blocks{
				background:#f1f1f1;
				transition: all 0.7s ease;
				a{
					color: #333;
					text-decoration: none;
					figure{
					text-align: center;
					padding-top: 15px;
					padding-bottom: 15px;
						img{
				    		width: 100px;
							max-height: 200px;
							margin-bottom: 15px;
						}
					}
				}
				&:hover{
					@include box-shadow(1px, 15px, 30px, rgba(0,0,0,0.15));
				}
			}
		}
	}
}
@media screen and (max-width: 767px){
	.main-grid{
		margin-bottom: 5px;
		.row{
		    display: inline-flex;
    		flex-wrap: nowrap;
    		width: 104%;
    		overflow-x: scroll;
    		.grid-item-2{
    			padding-left: 0px;
    			padding-right: 0px;
    		}
    		.main-grid-block{
    			height: 250px;
    			width: 200px;
    			img{
    				height: 250px;
    			}
    		}
		}
	}
	.mob-cover-box{
		.col-md-3{
			.mobile-prom-img{
				display: block;
				padding-right: 15px;
				height: auto;
				margin-bottom: 15px;
			}
			.desktop-prom-img{
				display: none;
			}
		}
		.col-md-9{
			overflow-x: scroll;
			margin-right: 15px;
			.row{
				display: inline-flex;
				flex-wrap: nowrap;
				.col-md-4{
					width: 200px;
					padding-right: 0px;
				}
			}
		}
	}
}