<div class="container main-grid">
	<div class="grid-title">
		<span>Trending Items</span>
	</div><hr />
	<div class="row">
		<div class="col-md-4">
			<div class="main-grid-block mgb-1">
				<figure>
					<img src="../assets/images/main-grid/suit.png" alt="">
					<figcaption>
						<a routerLink="/shop/jeans" >Suits</a>
					</figcaption>
				</figure>
			</div>
		</div>
		<div class="col-md-4 grid-item-2">
			<div class="main-grid-block mgb-1">
				<figure>
					<img src="../assets/images/main-grid/watch.png" alt="">
					<figcaption>
						<a routerLink="/shop/watches">watches</a>
					</figcaption>
				</figure>
			</div>
		</div>
		<div class="col-md-4">
			<div class="main-grid-block mgb-1">
				<figure>
					<img src="../assets/images/main-grid/young.png" alt="">
					<figcaption>
						<a routerLink="/shop/shirts">casuals</a>
					</figcaption>
				</figure>
			</div>
		</div>
	</div>
</div>
<div class="container mob-cover-box">
	<div class="row">
		<div class="col-md-3">
			<img src="../assets/images/promotions/p-1.jpg" alt="" class="desktop-prom-img">
			<img src="../assets/images/promotions/mob-p-1.jpg" alt="" class="mobile-prom-img">
		</div>
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-4">
					<div class="mob-cover-blocks">
						<a href="#">
							<figure>
								<img src="../assets/images/products/mobile-covers/mob-cover-1.png" alt="mob cover">
								<figcaption>iphone X cover</figcaption>
							</figure>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="mob-cover-blocks">
						<a href="#">
							<figure>
								<img src="../assets/images/products/mobile-covers/mob-cover-1.png" alt="mob cover">
								<figcaption>iphone X cover</figcaption>
							</figure>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="mob-cover-blocks">
						<a href="#">
							<figure>
								<img src="../assets/images/products/mobile-covers/mob-cover-1.png" alt="mob cover">
								<figcaption>iphone X cover</figcaption>
							</figure>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="mob-cover-blocks">
						<a href="#">
							<figure>
								<img src="../assets/images/products/mobile-covers/mob-cover-1.png" alt="mob cover">
								<figcaption>iphone X cover</figcaption>
							</figure>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="mob-cover-blocks">
						<a href="#">
							<figure>
								<img src="../assets/images/products/mobile-covers/mob-cover-1.png" alt="mob cover">
								<figcaption>iphone X cover</figcaption>
							</figure>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="mob-cover-blocks">
						<a href="#">
							<figure>
								<img src="../assets/images/products/mobile-covers/mob-cover-1.png" alt="mob cover">
								<figcaption>iphone X cover</figcaption>
							</figure>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container bg-banners">
	<div class="row">
		<div class="col-md-6">
			<div class="bg-banners-inner bg-bn-1">
				<h5>Why Switch Cover?</h5>
				<h1>Life is Exiciting</h1>
				<h1>With New Things</h1>
				<h4><a href="#">Explore</a></h4>
				<img src="assets/images/main-grid/mobile-cover-2.png" alt="Big Banner 1">
			</div>
		</div>
		<div class="col-md-6">
			<div class="bg-banners-inner bg-bn-2">
				<h5>Why Travel?</h5>
				<h1>Life is Exiciting</h1>
				<h1>With New Places</h1>
				<h4><a href="#">Explore</a></h4>
			</div>	
		</div>
	</div>
</div>