<div id="cat" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#cat" data-slide-to="0" class="active"></li>
    <li data-target="#cat" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../assets/images/carousel-main/mensome-banner-1.png" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../assets/images/carousel-main/mensome-banner-2.png" alt="Second slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#cat" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#cat" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>