.filter-products{
	display: none;
}
@media screen and (max-width: 767px){
	.filter-products{
		display: block !important;
	    bottom: -2px;
	    position: fixed;
	    z-index: 1000;
	    background: #1a1a1a;
	    color: #fff;
	    padding: 5px;
	    .filter-products-inner{
	    	padding: 0px 15px;
	    	.bt-nav{
	    		display: inline-block;
	    		width: 20%;
	    		text-align: center;
	    		a{
	    			text-decoration: none;
	    			color: #fff;
	    			i{
	    				font-size: 18px;
	    			}
	    			p{
	    				margin-bottom: 0px;
	    				font-size: 10px;
	    			}
	    		}
	    	}
	    }
	}
	.bottom-nav-modal{
		.modal-dialog{
			padding: 0px;
			margin: 0px;
			.modal-content{
				height: 100vh;
				.modal-header{
					border: none;
				}
			}
		}
	}
}