<div class="container-fluid filter-products">
	<div class="filter-products-inner">
		<div class="bt-nav">
			<a href="#">
				<i class="fa fa-home" aria-hidden="true"></i>
				<p>Home</p>
			</a>
		</div>
		<div class="bt-nav">
			<a href="#" data-toggle="modal" data-target="#search">
				<i class="fa fa-search" aria-hidden="true"></i>
				<p>Search</p>
			</a>
		</div>
		<div class="bt-nav">
			<a href="#">
				<i class="fa fa-filter" aria-hidden="true"></i>
				<p>Filter</p>
			</a>
		</div>
		<div class="bt-nav">
			<a href="#">
				<i class="fa fa-list-ul" aria-hidden="true"></i>
				<p>Categories</p>
			</a>
		</div>
		<div class="bt-nav">
			<a href="#">
				<i class="fa fa-building-o" aria-hidden="true"></i>
				<p>About</p>
			</a>
		</div>
	</div>
</div>

<!-- Search Modal -->
<div class="modal fade bottom-nav-modal" id="search" tabindex="-1" role="dialog" aria-labelledby="searchLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>