@mixin border-radius($radius) {
	-webkit-border-radius:$radius;
	   -moz-border-radius:$radius;
	    -ms-border-radius:$radius;
	     -o-border-radius:$radius;
	        border-radius:$radius;
}

@mixin box-shadow($x, $y, $blur, $color, $inset:false){
	@if $inset {
		-webkit-box-shadow:inset $x $y $blur $color;
		   -moz-box-shadow:inset $x $y $blur $color;
		    -ms-box-shadow:inset $x $y $blur $color;
		     -o-box-shadow:inset $x $y $blur $color;
	}
	@else {
		-webkit-box-shadow: $x $y $blur $color;
		   -moz-box-shadow: $x $y $blur $color;
		    -ms-box-shadow: $x $y $blur $color;
		     -o-box-shadow: $x $y $blur $color;
	}
}
$checkboxColor: #676a74;
.shop{
    background-color: #f8f9fa;
	.shop-filters{
		border-right: 1px solid #ddd;
		background-color: #ffffff;
	    width: 22%;
    	padding: 18px;
    	display: inline-block;
    	background: #fff;
		padding-top: 30px;
		h5{
			font-size: 16px;
		}
		.shop-filters-inner{
			padding-top: 20px;
			.price-range {
				padding:10px 0px;
				label {
					color: #999;
				}
				span {
					color: #333;
				}
				input[type=range] {
				  -webkit-appearance: none;
				  width: 68%;
				  margin-left: 2px;
				  margin-right: 7px;
				  &:focus{
				  	outline:none;
				  }
				  	&::-webkit-slider-runnable-track {
					  width: 100%;
					  height: 9px;
					  cursor: pointer;
					  background: rgba(0,0,0,0.04);
					  @include border-radius(10px);
					  @include box-shadow(0px, 0px, 2px, rgba(0,0,0,0.3), inset);
					}
					&::-webkit-slider-thumb {
					  width: 15px;
					  height: 15px;
					  @include border-radius(50%);
					  background: #fff;
					  cursor: pointer;
					  -webkit-appearance: none;
					  margin-top: -3px;
					  border:2px solid #333;
					  padding: 3px;
					}
				}
			}
			.brand-select{
				margin-top: 20px;
				.brand-name{
					color: #333;
					padding-bottom: 5px;
					margin-bottom: 10px;
				    text-transform: uppercase;
    				font-weight: 700;
				}
				.brand-hr{
				    text-align: left;
    				width: 60px;
    				hr{
    					width: 60px;
    					border: 1px solid #848383;
    					margin-top: 0px;
    				}
				}
				.media{
					margin-bottom: 20px;
					.media-body{
						h5{
							a{
								color: #313131;
								font-weight: 700;
							}
						}
						p{
							span{
								padding-right: 10px;
								font-size: 14px;
							}
							.new-price{
								font-weight: 700;
							}
							.old-price{
								text-decoration:line-through;
								color:#a5a5a5;
							}
						}
					}
					img{
						width: 64px;
						height: 54px;
						border: 1px solid #b4b4b4;
					}
				}
				.brand-checkbox{
					margin-bottom: 10px;
				    color: $checkboxColor;
				    padding-left: 15px;
				    input[type=checkbox]{
				    	opacity: 0;
			    	    position: absolute;
					    margin-left: -14px;
					    z-index: 100;
					    margin-top: 4px;
				    }
				    input[type=checkbox]:checked + .checkmark i{
				    	opacity: 1;
				    }
				    label{
				    	margin-left: 10px;
				    }
				    .checkmark{
			    	    border: 1px solid #676a74;
					    position: absolute;
					    width: 15px;
					    height: 15px;
					    margin-left: -14px;
					    margin-top: 5px;
					    i{
						    position: absolute;
						    margin-top: 0px;
						    font-size: 13px;
						    opacity:0;
					    }
				    }
				}
			}
			.promotion-side-bnr{
				width: 100%;
				img{
					width: 100%;
				}
			}
		}
	}
	.shop-products{
		padding: 20px 4% 20px 4%;
		background-color: #ffffff;
		width:78%;
		display: inline-block;
	    background: #fff;
		h3{
			display:inline-block;
			font-size: 25px;
    		color: #6c6c6c;
		}
		.select-products{
			display: inline-block;
			float: right;
			select{
				width: auto;
				margin-left: 10px;
				border: 1px solid #b6b6b6;
				color: #666;
				@include border-radius(0px);
				-webkit-appearance: none;
				cursor: pointer;
				&:focus{
					border: 1px solid #333;
					box-shadow: none;
					color: #666;
					border: 1px solid #b6b6b6;
				}
			}
		}
		.shop-products-listing{
			padding-top: 20px;
			clear: both;
			.col-md-4{
				margin-bottom: 20px;
				.sp-list-inner{
					@include border-radius(3px);
			  		@include box-shadow(0px, 0px, 2px, rgba(0,0,0,0.5));
					padding: 0px;
					figure{
						a{
							text-decoration: none;
							color: #333;
							transition: all 0.4s ease;
							img{
								width: 100%;
								max-height: 370px;
								height: 370px;
							}
							figcaption{
								padding: 10px;
								font-size: 17px;
								.product-inner-price{
									font-size: 16px;
									margin-bottom: 0px;
									span{
										padding-right: 10px;
									}
									.old-price{
										text-decoration: line-through;
									}
									.new-price{
										color:#28a745;
									}
									.you-save{
										font-size: 13px;
										vertical-align: middle;
									}
								}
								.buy-from{
									text-align: center;
								    border-top: 1px solid #333;
								    margin-top: 10px;
								    padding: 5px;
								    img{
								    	width: auto;
								    	max-height:47px;
								    }
								}
							}
						}
					}
					&:hover{
						opacity: 0.9;
						@include box-shadow(0px, 0px, 2px, rgba(0,0,0,0.7));
					}
				}
			}
		}
	}
}
@media screen and (max-width: 767px){
	.shop-filters{display: none;}
	.select-products{display: none !important;}
	.shop-products{
		padding-top: 0px !important;
		h3{
		    font-size: 22px;
    		padding-bottom: 5px;
		}
	}
	.shop-products-listing{
		padding-top: 0px !important;
	    display: inline-flex;
	    .sp-list-inner{
	    	figure{
	    		a{
	    			img{
	    				height: 160px !important;
	    			}
	    			figcaption{
	    				padding: 5px !important;
	    				p{
	    					font-size: 14px !important;
	    					.you-save{
								display: block;
							    padding-top: 2px;
							}
	    				}
	    				h5{
	    					font-size: 15px;
	    					margin-bottom: 2px;
	    				}
	    				.buy-from{
	    					margin-top: 2px !important;
	    					padding:0px !important;
	    					font-size: 14px;
	    					img{
						    	max-width: 100px;
    							max-height: 20px !important;
						    }
	    				}
	    			}
	    		}
	    	}
	    }
	    .col-md-4{
	    	width: 50%;
	    	margin-bottom: 0px !important;
	    }
	    .col-md-4:nth-child(odd) {
    		padding-right: 5px;
		}
		.col-md-4:nth-child(even) {
    		padding-left: 5px;
		}
	}
}