<div class="container-fluid shop" *ngFor="let prod of productListNew">
	<div class="row">
		<div class="shop-filters">
			<h5>Filter {{prod.productCat}}</h5>
			<div class="shop-filters-inner">
				<div class="price-range">
					<label>Min. Price</label> : <span><i class="fa fa-inr" aria-hidden="true"></i> {{ minPrice }} </span>
					<div>
						<span>0</span> <input type="range" min="0" max="1000" 
						[(ngModel)]="minPrice" /> <span>1000</span>
					</div> 
				</div>

				<div class="price-range">
					<label>Max. Price</label> : <span><i class="fa fa-inr" aria-hidden="true"></i> {{ maxPrice }} </span>
					<div>
						<span>0</span> <input type="range" min="1" max="1100" 
						[(ngModel)]="maxPrice" /> <span>1100</span>
					</div> 
				</div>

				<div class="brand-select">
					<div class="brand-name">Select Color</div>
					<div class="brand-hr"><hr /></div>
					<form>
						<div class="form-check brand-checkbox" *ngFor="let col of colors;let index = index">
						 <input class="form-check-input" 
				             type="checkbox" 
				             value="{{col.id}}" 
				             id="{{col.id}}" 
				             name="{{col.id}}" 
				             [(ngModel)]="col.selected"
				             (ngModelChange)="filterProducts()">

				          <span class="checkmark">
				          	<i class="fa fa-check" aria-hidden="true"></i>
				          </span>
						  <label class="form-check-label" for="{{col.id}}">
						    {{col.productColor}}
						  </label>
						</div>
					</form>
				</div>

				<div class="brand-select">
					<div class="brand-name">Trending Products</div>
					<div class="brand-hr"><hr /></div>
					<div class="media">
					  <img class="align-self-start mr-3" src="../assets/images/promotions/shirt-small.png" alt="image">
					  <div class="media-body">
					    <h5 class="mt-0"><a href="#">Top-aligned media</a></h5>
					    <p>
					    	<span class="new-price"><i class="fa fa-inr" aria-hidden="true"></i>600</span>
					    	<span class="old-price"><i class="fa fa-inr" aria-hidden="true"></i>300</span>
					    </p>
					  </div>
					</div>
					<div class="media">
					  <img class="align-self-start mr-3" src="../assets/images/promotions/shirt-small.png" alt="image">
					  <div class="media-body">
					    <h5 class="mt-0"><a href="#">Top-aligned media</a></h5>
					    <p>
					    	<span class="new-price"><i class="fa fa-inr" aria-hidden="true"></i>600</span>
					    	<span class="old-price"><i class="fa fa-inr" aria-hidden="true"></i>300</span>
					    </p>
					  </div>
					</div>
					<div class="media">
					  <img class="align-self-start mr-3" src="../assets/images/promotions/shirt-small.png" alt="image">
					  <div class="media-body">
					    <h5 class="mt-0"><a href="#">Top-aligned media</a></h5>
					    <p>
					    	<span class="new-price"><i class="fa fa-inr" aria-hidden="true"></i>600</span>
					    	<span class="old-price"><i class="fa fa-inr" aria-hidden="true"></i>300</span>
					    </p>
					  </div>
					</div>
				</div>
				<div class="promotion-side-bnr">
					<a href="#">
						<img src="../assets/images/promotions/shirt-promo.png" alt="">
					</a>
				</div>
			</div>
		</div>
		<div class="shop-products">
			<div class="shop-products-headline">
				<h3>{{prod.productName}}</h3>
				<div class="select-products">
					<form class="form-inline">
						<div class="form-group">
						    <select class="form-control" id="sort" [(ngModel)]="sel" name="sel">
						      <option [ngValue]="undefined" selected >Sort by Relevance</option>
						      <option *ngFor="let sortType of sort" [ngValue]="sortType.type">Sort by {{sortType.type}}</option>
						    </select>
						</div>
					</form>
				</div>
			</div>
			<div class="row shop-products-listing">
				<div class="col-md-4" *ngFor="let product of prod.product | pricerange: minPrice | pricerangeMax: maxPrice | selectType: sel">
					<div class="sp-list-inner">
						<figure>
							<a href="{{product.url}}" target="_blank">
								<img src="{{product.productImage}}" alt="{{product.productImageAlt}}">
								<figcaption>
									<h5 class="product-inner-title">{{product.productName}}</h5>
									<p class="product-inner-price">
										<span class="new-price"><i class="fa fa-inr" aria-hidden="true"></i>{{product.newPrice}}</span>
										<span class="old-price"><i class="fa fa-inr" aria-hidden="true"></i>{{product.oldPrice}}</span>
										<span class="you-save">you save <i class="fa fa-inr" aria-hidden="true"></i>{{product.oldPrice - product.newPrice}}</span>
									</p>
									<div class="buy-from">Buy From <br /> <img src="{{product.companyLogo}}" alt="{{product.companyName}}"></div>
								</figcaption>
							</a>
						</figure>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<app-bottom-nav></app-bottom-nav>